<h2><%= "Clearance Batch #{@clearance_batch.id}" %></h2>

<% @report_texts.each do |text| %>
  <%= text %><br>
<% end %>
<br>
<%= "Total price: $#{@total_price}" %>

<table class="table table-striped clearance_batches">
  <thead>
    <tr>
      <th></th>
      <th>Size</th>
      <th>Color</th>
      <th>Price Sold</th>
      <th>Style</th>
    </tr>
  </thead>
  <tbody>
    <%- @items.each_with_index do |item, index| -%>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= item.size %></td>
        <td><%= item.color %></td>
        <td><%= "$#{item.price_sold}" %></td>
        <td><%= item.style.type %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
